

/* 1 - Estilos generales */

* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

h1 {
    color: #2C82B8;
    font-size: 2.5rem;
    font-family: 'Oleo Script', cursive;
}

h1 span {
    font-size: 1.563rem;
    display: block;
    margin-top: -11px;
} 

a {
    text-decoration: none !important;
}

/* Fin de estilos generales

****************************************************************

2 - Estilos estructura basica para moviles */

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:

        "header"
        "main"
        "footer"

    ;
}

/* 2:A - Estilos de la cabecera */

#header {
    grid-area: header;
    width: 100%;
    height: auto;
    background-color: #ededed;
}

.header__contactrow {
    display: none;
}

.header__principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.header__principal--logo {
    padding-top: 7px;
    text-align: left;
    display: inline-block;

}

.header__principal--menu {
    padding-top: 10px;
    display: inline-block;
}

.header__principal--menu ul {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ededed;
    top: 80px;
    left: -100%;
    transition: all .5s;
    z-index: 999;
}

.header__principal--menu ul li {
    display: block;
    padding-top: 42px;
    text-align: center;
}

.header__principal--menu ul li a {
    color:#2C82B8;
}

.header__principal--menu ul li a:hover {
    color: #000;
}

#iconos-resp{
    padding-top: 52px;
}

.header__principal--menu ul li span {
    display: inline-block;
    padding: 0 15%;
}

.header__principal--menu ul li i {
    font-size: 3rem;
}

.hamburguesa {
    color: #2C82B8;
    display: block;
    cursor: pointer;
}

.cerrar {
    color: #2C82B8;
    display: none;
    cursor: pointer;
    text-align: center;
    width: 28px;
    height: 30px;
}

#check {
    display: none;
}

#check:checked ~ ul {
    left: 0;
    padding-left: 0;
}

#check:checked ~ .hamburguesa {
    display: none;
}

#check:checked ~ .cerrar {
    display: block;
}

.header__carrousel {
    width: 100%;
    height: auto;
}

.carousel-indicators button {
    background-color: #000 !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 100% !important;
    opacity: .5 !important;
    transition: 0.5s !important;
}

.carousel-indicators {
    margin-bottom: 5px !important;
}

.carousel-indicators button.active {
    background-color: #2C82B8 !important;
    opacity: .8 !important;
    transition: 0.5s !important;
}

.carousel-control-prev-icon {
    background-image: url(../img/arrow-left.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(../img/arrow-right.svg) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.carousel-control-prev-icon , .carousel-control-prev , .carousel-control-next-icon , .carousel-control-next {
    opacity: .5 !important;
    transition: 0.5s !important;
}

.carousel-control-prev-icon:hover , .carousel-control-prev:hover , .carousel-control-next-icon:hover , .carousel-control-next:hover {
    opacity: .7 !important;
}






/* 

.header__principal--logo h1 {
        font-size: 30px;
    }

    .header__principal--logo h1 span {
        font-size: 20px;
        margin-top: -10px;
    }

@media only screen and (min-width:768px) {

    #iconos-resp{
        display: none;
    }

    .header__contactrow{
        width: 100%;
        height: 25px;
        background-color: #2C82B8;
        display: block;
    }
    
    .hamburguesa {
        display: none;
    }

    .header__principal--menu {
        padding-top: 10px;
        text-align: right;
    }

    .header__principal--menu ul {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        list-style: none;
        padding-left: 10px;
        left: auto;
        top: auto;
        background: none;
        transition: none;
        width: 100%;
        height: auto;
        position: static;
    }

    .header__principal--menu ul li {
        display: inline-block;
        padding-right: 15px;
        padding-top:0;
        padding-left:0;
    }

    .header__principal--menu ul li a {
        color: #2C82B8;
    }

    .header__principal--menu ul li a:hover {
        color: #000;
    }
} */

#contenido {
    grid-area: main;
    width: 100%;
    height: auto;
    background-color: cyan;
}

.contenido__bienvenida {
    display: none;
}

.contenido__bienvenida--txt {
    display: none;
}

.contenido__bienvenida--vid {
    display: none;
}

.contenido__desc {
    display: none;
}

.contenido__desc--box {
    display: none;
}

#footer {
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: violet;
}

.footer__links {
    display: none;
}

.footer__links--box {
    display: none;
}

.footer__autor {
    display: none;
}



/* FIN ESTILOS ESTRUCTURA BASICA MOBILE

****************************************************************

ESTILOS ESTRUCTURA BASICA TABLETS */

/*

#container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    
    "header"
    "cont"
    "footer"
    
    ;
}

.header{
    grid-area: header;
    width:100%;
    height: auto;
    background-color: limegreen;
}

.header__contactrow{
    width: 100%;
    height: 25px;
    background-color: blue;
    display: none;
}

.header__principal{
    width:100%;
    height: auto;
    background-color: blueviolet;
}

.header__principal--logo{
    width: 40%;
    text-align: left;
    background-color: brown;
}

.header__principal--menu{
    width: 40%;
    text-align: right;
    background-color: burlywood;
}

.header__carrousel{
    width: 100%;
    height: auto;
    background-color: crimson;
}

.contenido{
    grid-area: cont;
    width: 100%;
    height: auto;
    background-color: cyan;
}

.contenido__bienvenida{
    width: 100%;
    height: auto;
    background-color: darkblue;
}

.contenido__bienvenida--txt{
    width: 50%;
    height: auto;
    text-align: left;
    background-color: darkcyan;
}

.contenido__bienvenida--vid{
    width: 50%;
    height: auto;
    text-align: center;
    background-color: darkgoldenrod;
}

.contenido__desc{
    width: 100%;
    height: auto;
    background-color: darkmagenta;
}

.contenido__desc--row{
    width: 33%;
    height: auto;
    background-color: darkred;
}

.footer{
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: violet;
}

.footer__links{
    width: 100%;
    height: auto;
    background-color: tomato;
}

.footer__links--row{
    width: 33%;
    height: auto;
    background-color: springgreen;
}

.footer__autor{
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: black;
}


*/